.c-table {
    background: #fff;
    overflow: hidden;

    @include sm {
        word-wrap: break-word;
    }
    &_title, 
    & th {
        background: $color_main;
        color: #fff;
        font-weight: bold;
    }
    & th {
        & span {
            color: #fff;
            font-weight: bold;
        }
    }
    & tr td {
        font-size: 1rem !important;
        padding: 10px 15px;
        vertical-align: top;
    }
    &_row {
        border-bottom: 1px solid #eee;
        @at-root .c-table &:last-child {
            border: none;
        }
    }
    &_col {
        padding: 10px 15px;
    }
    &_responsive {
        & tr {
            @include sm {
                display: flex;
                flex-wrap: wrap;
            }
        }
        & td {
            @include sm {
                width: 100%;
                padding: 10px !important;
                height: auto !important;
            }
            &:first-child {
                @include sm {
                    border: none !important;
                    padding-bottom: 0 !important;
                }
            }
        }
    }
}