.l-content {
    &_wrap {
        background: inherit !important;
    }
    &_fullHeight {
        height: 100%;
    }
    &_margin {
        &-top {
            margin-top: 40px;
        }
        &-btm {
            margin-bottom: 40px;
        }
    }
    &_padding {
        padding-top: 40px;
        padding-bottom: 40px;

        &.-lg {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        &.-sm {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &.-xs {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    &_maxWidth {
        &-xl {
            max-width: 1400px;
            margin: 0 auto;
        }
        &-lg {
            max-width: 1110px;
            margin: 0 auto;
        }
        &-md {
            max-width: 1080px;
            margin: 0 auto;
        }
        &-sm {
            max-width: 900px;
            margin: 0 auto;
        }
        &-xs {
            max-width: 660px;
            margin: 0 auto;
        }
    }
    &_inner {
        height: 100%;
        max-width: 1410px;

        &.container--fluid {
            max-width: 1410px;
        }
    }
    &_narrow {
        max-width: 660px;
        margin: 0 auto;
    }
    &_heading {
        text-align: center;
        margin-bottom: 50px;
        
        & .slogan {
            font-weight: normal;
        }
    }
    &_align {
        &-middle {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
        }
    }
}

.l-bg {
    &_main {
        background-color: $color_main;

        &-dark {
            background-color: #010e18;
        }
    }
}

.l-sec {
    &_footer {
        text-align: center;
        margin-top: 60px;
    }
}

.l-breadcum {
    margin-bottom: 20px;
    color: $text_color_light;
    @include fz(12);
    
    & .item {
        padding-right: 10px;
    }
    & .arrow {
        color: $color_greyLight3;
    }
    & .icon {
        @include fz(14);
        opacity: 0.8;

        &.home {
            @include fz(16);
            position: relative;
            top: 1px;
        }
    }
}

.l-container {
    @include lg {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.l-align {
    &_middle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.l-page {
    &_content {
        max-width: 800px;
        @include md {
            max-width: none;
        }
        &-row {
            padding-top: 10px;
            margin-top: 0!important;
        }
    }
}

.l-sidebar {

    & img {
        max-width: 100%;
        height: auto;
    }

    &_fb {
        max-width: 340px;
        margin: 0 auto;
    }
    &_twitter {
        max-width: 340px;
        margin: 0 auto;
    }
}

.container-fluid {
    width: 100%;
    padding: 0 12px;
    margin-right: auto;
    margin-left: auto;
}