$color_main: #2FB5CE;
$color_main_dark: #117081;
$color_grey: #555555;
$color_greyLight: #F1F1F1;
$color_greyLight2: #e6e6e6;
$color_greyLight3: #9c9c9c;
$color_gold: #D1B255;
$color_red: #F26060;
$color_green: #8AC829;
$color_orange: #FC8F3A;
$color_pink: #F68BBD;

$text_color_dark: #24292E;
$text_color_light: #949494;

$text-size: 15;